---
language: python
python: "3.6"

sudo: required

services:
  - docker

addons:
  apt:
    packages:
    - python-pip

install:
  - pip install ansible

before_script:
  - docker run --name xenial -d codeyourinfra/python3:xenial
  - docker run --name bionic -d codeyourinfra/python3:bionic

script:
  - ansible-playbook tests/test.yml -i tests/inventory

after_script:
  - docker stop xenial bionic
  - docker rm xenial bionic

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: knKROfXijztOnqgf0AEVWe6cjEb6DF1bgrgtV3J0KWs0805FFejqm4xC0Fy2RC2VFzws+XgkRoRlNMA2/uxhNZMjPXMsMJZxIPXpH9pkQJxFZD8JUSmnS2PsnA1O9098W8hMG9hPD/XqGqEuXskD9CdeYEuzFoOtY7tCYltouLS8d2mlaGfYS21bei1BMJAPnkNTICpgeWtGRJuMkRrJJsoSSztSckcPqlEVatvXa4Wy2nJHCByEjV8DN+eP+P9hLxlLr4C30PFb3ZyH7lOOVtzt3Xy+2jAgpg3a6aDJOr/eA9N5BSjydORo2QjkfU2P4p0nyFATGrqvvLNV6vKkF9Y7MR8TwSW4WFwp9wKVM6Z71qqgwcgNEAiTdYbXF1C/OcYeEr8yjfUQKqXvxPeaVlL1F9mvtHJz7eMScVdRvy0ZoahFcdL2rrAMMZ4jbDfHTpXyqQd//wXPdXItb4IDMVjfokNusA8WUGB6cxVz6uAYO2PrWj1/nYZDBaO1w5VgJJ6jXi3gq1GVBikT6vDSvokBUlUYq1PtloV64vJG4luvsI+fAqhFmpZRWSApSaYDdYLe7jq9RrteSFQe7wkcp7mcboJw4MYsgT+CqQd711SebUaW+NtDkdR2KiLTCyQ+mnb9zTXVo+tua/UdWf62Q+cZoiXvuVkqyn7ixI/phZA=
