---
- name: Install required packages
  apt:
    name: "{{ item }}"
  loop:
    - software-properties-common
    - apt-transport-https
- name: Add the InfluxDB apt key
  apt_key:
    url: https://repos.influxdata.com/influxdb.key
- name: Add the InfluxDB repository into sources list
  apt_repository:
    repo: "deb https://repos.influxdata.com/ubuntu {{ ansible_distribution_release }} stable"
- name: Install InfluxDB
  apt:
    name: influxdb
    state: latest
- name: Ensure InfluxDB is running (and enable it at boot)
  service:
    name: influxdb
    state: started
    enabled: yes
  when: ansible_distribution_release == 'bionic'
- name: Ensure InfluxDB is running (and enable it at boot)
  shell: systemctl enable influxdb.service
  when: ansible_distribution_release == 'xenial'
